body {
  display: flex;
  justify-content: center;
}

div {
  background: url('./img/bg\ image.svg');
  background-repeat: no-repeat;
  width: 414px;
  height: 896px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 328.92px;
  height: 176.26px;
  position: absolute;
  top: 3rem;
}

textarea {
  display: block;
  width: 23rem;
  height: 6rem;
  position: absolute;
  top: 18rem;
}

button {
  background: rgba(0, 0, 0, 0.8);
  width: 342px;
  height: 74px;
  position: absolute;
  top: 28rem;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 28px;
  border-radius: 14px;
}

ul{
  position: absolute;
  top: 33rem;
  left: 29rem;
  display: flex;
  align-items: center;
  flex-direction: column;
}

li {
  color: #FFFFFF;
  list-style-type: none;
  background: rgb(59, 59, 201);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 14px;
  width: 342px;
  height: 58px;
  display: flex;
  align-items: center;
  margin-top: .5rem;
}

span{
  margin:0.5rem;
}

